{% extends "AppCafe/padre.html" %}


{% load static %}

{% block titulo %}
                
AppCafe

{% endblock %}


{% block titulodescripcion %}

ORIGEN Y MOLIENDA DEL CAFE

{% endblock %}

{% block descripcion %}
Origen del cafe:- Brasil
                - Vietnam
                - Colombia
                - Indonesia
                - Etiopia
                - Honduras
                - India.
Tipos de molienda existentes:
    - Fina
    - Media Fina 
    - Media
    - Media Gruesa 
    - Gruesa
{% endblock %}

{% block titulodos %}
ORIGEN Y MOLIENDA
{% endblock %}